div.App header.App-header{
    background-color: #01080e;
    padding: 10px 0px 10px 0px ;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ---------- Menu Side Bar ---------- */
  div.App header.App-header div.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  div.App header.App-header div.sidenav button,
  div.App header.App-header div.sidenav a {
    padding: 8px 8px 8px 32px;
    background-color: #111;
    border: 0px solid #111;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  
  div.App header.App-header div.sidenav button:hover,
  div.App header.App-header div.sidenav a:hover {
    color: #f1f1f1;
  }
  
  div.App header.App-header div.sidenav button.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    div.App header.App-header div.sidenav {padding-top: 15px;}
    div.App header.App-header div.sidenav button {font-size: 18px;}
  }
  /* ---------- Menu Side Bar ---------- */
  
  div.App header.App-header button#MenuSide{
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    flex-basis: 50px;
    background-color:#01080e;
    border: 0px solid #01080e;
    cursor: pointer;
  }
  
  div.App header.App-header button#MenuSide:active{
    flex-basis: 30px;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 0px;
  }
  
  div.App header.App-header button#MenuSide:active svg{
    width: 20px;
    height: 20px;
  }
  
  div.App header.App-header button#MenuSide svg{
    width: 30px;
    height: 30px;
    margin: 0%;
  }
  
  div.App header.App-header div.Space{
    flex-basis: 50%;
  }
  
  div.App header.App-header figure{
    margin: 0%;
    padding: 0%;
    width: 80px;
    height: 30px;
    flex-basis: 200px;
  }
  
  div.App header.App-header figure img{
    width: 100%;
    height: 100%;
    margin: 0%;
  }