@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

div.Portafolio{
    background-image: url("../assets/Code1.jpg");
    width: 100%;
    height: 3000px;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

div.Portafolio header.App-header{
    background-color: #01080e;
    padding: 10px 0px 10px 0px ;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  /* ---------- Menu Side Bar ---------- */
div.Portafolio header.App-header div.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
div.Portafolio header.App-header div.sidenav button,
div.Portafolio header.App-header div.sidenav a {
    padding: 8px 8px 8px 32px;
    background-color: #111;
    border: 0px solid #111;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
  
div.Portafolio header.App-header div.sidenav button:hover,
div.Portafolio header.App-header div.sidenav a:hover {
    color: #f1f1f1;
}
  
div.Portafolio header.App-header div.sidenav button.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
  
@media screen and (max-height: 450px) {
    div.Portafolio header.App-header div.sidenav {padding-top: 15px;}
    div.Portafolio header.App-header div.sidenav button {font-size: 18px;}
}
  /* ---------- Menu Side Bar ---------- */
  
div.Portafolio header.App-header button#MenuSide{
    width: 50px;
    height: 50px;
    margin: 0%;
    padding: 0%;
    flex-basis: 50px;
    background-color:#01080e;
    border: 0px solid #01080e;
    cursor: pointer;
}
  
div.Portafolio header.App-header button#MenuSide:active{
    flex-basis: 30px;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 0px;
}
  
div.Portafolio header.App-header button#MenuSide:active svg{
    width: 20px;
    height: 20px;
}
  
div.Portafolio header.App-header button#MenuSide svg{
    width: 30px;
    height: 30px;
    margin: 0%;
}
  
div.Portafolio header.App-header div.Space{
    flex-basis: 50%;
}
  
div.Portafolio header.App-header figure{
    margin: 0%;
    padding: 0%;
    width: 80px;
    height: 30px;
    flex-basis: 200px;
}
  
div.Portafolio header.App-header figure img{
    width: 100%;
    height: 100%;
    margin: 0%;
}

/* -------------------- Title -------------------- */
div.Portafolio section#Title{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 510px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

div.Portafolio section#Title label{
    background-color: none;
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 1000;
    font-size: 50px;
}
/* -------------------- Title -------------------- */

/* -------------------- General -------------------- */
div.Portafolio section.Proyects{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    width: 100%;
    height: 700px;
    grid-template-rows: 50px 600px 50px;
    grid-template-columns:  3% 44% 50% 3%;
    box-shadow: 2px 2px 5px black;
    margin: 0px 0px 100px 0px;
    padding: 0%;
    color: whitesmoke;
    text-align: center;
    background: linear-gradient(#000, #072d4c);  
}

div.Portafolio section.Proyects div.carousel{
    grid-column: 2/3;
    grid-row: 2/3;
}

div.Portafolio section.Proyects div.Descripcion{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

div.Portafolio section.Proyects div.Descripcion figure svg{
    margin: 0px 10px 0px 0px;
}

div.Portafolio section.Proyects div.Descripcion figure a{
    color: whitesmoke;
}
/* -------------------- General -------------------- */


/* -------------------- Procesos -------------------- */
div.Portafolio section#Procesos div#Processcarousel{
    max-width: 750px;
    min-width: 500px;
    width: 100%;
    height: 600px;
    justify-self: center;
    align-self: center;
}

div.Portafolio section#Procesos div.carousel img{
    width: 100%;
    height: 600px;
    min-height: 600px;
}

div.Portafolio section#Procesos div.carousel div button{
    background-color: black;
}

div.Portafolio section#Procesos div.carousel button span{
    background-color: #000;
}
/* -------------------- Procesos -------------------- */

/* -------------------- C-Minus -------------------- */
div.Portafolio section#Cminus div.carousel img{
    width: 100%;
    height: 450px;
}

div.Portafolio section#Cminus div#Cminuscarousel{
    max-width: 700px;
    min-width: 600px;
    width: 100%;
    height: 450px;
    justify-self: center;
    align-self: center;
}
/* -------------------- C-Minus -------------------- */

/* -------------------- Flutter -------------------- */
div.Portafolio section#Flutter div.carousel img{
    width: 100%;
    height: 600px;
}

div.Portafolio section#Flutter div#Fluttercarousel{
    max-width: 600px;
    min-width: 500px;
    width: 100%;
    height: 600px;
    justify-self: center;
    align-self: center;
}

div.Portafolio section#Flutter ul{
    text-align: start;
}

div.Portafolio section#Flutter ul li{
    margin-top: 10px;
}
/* -------------------- Flutter -------------------- */


@media screen and (max-width: 1300px){
    div.Portafolio{
        height: 4280px;
    }
    /* -------------------- General -------------------- */
    div.Portafolio section.Proyects{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 1200px;
        grid-template-rows: 50px 400px 700px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section.Proyects div.carousel{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    div.Portafolio section.Proyects div.Descripcion{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    /* -------------------- General -------------------- */

    /* -------------------- C-Minus -------------------- */
    div.Portafolio section#Cminus{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 1000px;
        grid-template-rows: 50px 400px 500px 50px;
        grid-template-columns:  3% 94% 3%;
    }
    /* -------------------- C-Minus -------------------- */
}

@media screen and (max-width: 700px){
    div.Portafolio{
        height: 3280px;
    }
    /* -------------------- General -------------------- */
    div.Portafolio section.Proyects{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 950px;
        grid-template-rows: 50px 350px 500px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section.Proyects div.Descripcion h3{
        font-size: large;
    }

    div.Portafolio section.Proyects div.Descripcion p, a, li{
        font-size: small;
    }
    /* -------------------- General -------------------- */

    /* -------------------- Title -------------------- */
    div.Portafolio section#Title{
        width: 100%;
        height: 260px;
    }
    
    div.Portafolio section#Title label{
        background-color: none;
        text-align: center;
        font-weight: bolder;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 1000;
        font-size: 50px;
    }
    /* -------------------- Title -------------------- */

    /* -------------------- Procesos -------------------- */
    div.Portafolio section#Procesos div#Processcarousel{
        max-width: 500px;
        min-width: 200px;
        width: 100%;
        height: 500px;
    }
    
    div.Portafolio section#Procesos div.carousel img{
        width: 100%;
        height: 500px;
        min-height: 500px;
    }
    /* -------------------- Procesos -------------------- */

    /* -------------------- C-Minus -------------------- */
    div.Portafolio section#Cminus{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 750px;
        grid-template-rows: 50px 350px 300px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Cminus div.carousel img{
        width: 100%;
        height: 300px;
    }

    div.Portafolio section#Cminus div#Cminuscarousel{
        max-width: 500px;
        min-width: 200px;
        width: 100%;
        height: 300px;
        justify-self: center;
        align-self: center;
    }
    /* -------------------- C-Minus -------------------- */

    /* -------------------- Flutter -------------------- */
    div.Portafolio section#Flutter div.carousel img{
        width: 100%;
        height: 450px;
    }

    div.Portafolio section#Flutter div#Fluttercarousel{
        max-width: 450px;
        min-width: 300px;
        width: 100%;
        height: 450px;
    }
    /* -------------------- Flutter -------------------- */
}

@media screen and (max-width: 500px){
    div.Portafolio{
        height: 2980px;
    }
    /* -------------------- General -------------------- */
    div.Portafolio section.Proyects div.Descripcion h3{
        font-size: medium;
    }

    div.Portafolio section.Proyects div.Descripcion p, a, li{
        font-size: x-small;
    }
    /* -------------------- General -------------------- */

    div.Portafolio section#Introduce label{
      font-weight: 500;
      font-size: 35px;
    }
  
    div.Portafolio header.App-header div.Space{
      flex-basis: 30%;
    }

    /* -------------------- Procesos -------------------- */
    div.Portafolio section#Procesos{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 750px;
        grid-template-rows: 50px 350px 300px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Procesos div#Processcarousel{
        max-width: 300px;
        min-width: 100px;
        width: 100%;
        height: 300px;
    }
    
    div.Portafolio section#Procesos div.carousel img{
        width: 100%;
        height: 300px;
        min-height: 300px;
    }
    /* -------------------- Procesos -------------------- */

    /* -------------------- C-Minus -------------------- */
    div.Portafolio section#Cminus{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 650px;
        grid-template-rows: 50px 300px 250px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Cminus div.carousel img{
        width: 100%;
        height: 250px;
    }

    div.Portafolio section#Cminus div#Cminuscarousel{
        max-width: 350px;
        min-width: 200px;
        width: 100%;
        height: 250px;
        justify-self: center;
        align-self: center;
    }
    /* -------------------- C-Minus -------------------- */

    /* -------------------- Flutter -------------------- */
    div.Portafolio section#Flutter{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 950px;
        grid-template-rows: 50px 500px 350px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Flutter div.carousel img{
        width: 100%;
        height: 350px;
    }

    div.Portafolio section#Flutter div#Fluttercarousel{
        max-width: 350px;
        min-width: 200px;
        width: 100%;
        height: 350px;
    }
    /* -------------------- Flutter -------------------- */
}

@media screen and (max-width: 450px){
    div.Portafolio header.App-header div.Space{
      flex-basis: 20%;
    }
    div.Portafolio header.App-header figure{
      flex-basis: 176px;
    }
    div.Portafolio section#Introduce label{
      font-weight: 500;
      font-size: 25px;
    }
}

@media screen and (max-width: 280px){
    div.Portafolio{
        height: 2800px;
    }

    /* -------------------- General -------------------- */
    div.Portafolio section.Proyects div.Descripcion h3{
        font-size: small;
    }

    div.Portafolio section.Proyects div.Descripcion p, a, li{
        font-size: 8px;
    }

    div.Portafolio section.Proyects div.Descripcion svg{
        width: 30px;
        height: 30px;
    }
    /* -------------------- General -------------------- */

    /* -------------------- Procesos -------------------- */
    div.Portafolio section#Procesos{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 650px;
        grid-template-rows: 50px 350px 200px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Procesos div#Processcarousel{
        max-width: 200px;
        min-width: 100px;
        width: 100%;
        height: 200px;
    }
    
    div.Portafolio section#Procesos div.carousel img{
        width: 100%;
        height: 200px;
        min-height: 200px;
    }
    /* -------------------- Procesos -------------------- */

    /* -------------------- C-Minus -------------------- */
    div.Portafolio section#Cminus{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 600px;
        grid-template-rows: 50px 300px 200px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Cminus div.carousel img{
        width: 100%;
        height: 160px;
    }

    div.Portafolio section#Cminus div#Cminuscarousel{
        max-width: 230px;
        min-width: 150px;
        width: 100%;
        height: 160px;
        justify-self: center;
        align-self: center;
    }
    /* -------------------- C-Minus -------------------- */

    /* -------------------- Flutter -------------------- */
    div.Portafolio section#Flutter{
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        width: 100%;
        height: 850px;
        grid-template-rows: 50px 450px 300px 50px;
        grid-template-columns:  3% 94% 3%;
    }

    div.Portafolio section#Flutter div.carousel img{
        width: 100%;
        height: 250px;
    }

    div.Portafolio section#Flutter div#Fluttercarousel{
        max-width: 250px;
        min-width: 150px;
        width: 100%;
        height: 250px;
    }
    /* -------------------- Flutter -------------------- */
}