@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

div.App{
  background-image: url("./images/code2.jpg");
  background-repeat: repeat-y;
  width: 100%;
  height: 3350px;
  font-family: 'Roboto Mono', monospace;
  scroll-behavior: smooth;
}

div.App header.App-header{
  background-color: #01080e;
  padding: 10px 0px 10px 0px ;
  box-shadow: 2px 2px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- Menu Side Bar ---------- */
div.App header.App-header div.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

div.App header.App-header div.sidenav button,
div.App header.App-header div.sidenav a {
  padding: 8px 8px 8px 32px;
  background-color: #111;
  border: 0px solid #111;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

div.App header.App-header div.sidenav button:hover,
div.App header.App-header div.sidenav a:hover {
  color: #f1f1f1;
}

div.App header.App-header div.sidenav button.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  div.App header.App-header div.sidenav {padding-top: 15px;}
  div.App header.App-header div.sidenav button {font-size: 18px;}
}
/* ---------- Menu Side Bar ---------- */

div.App header.App-header button#MenuSide{
  width: 50px;
  height: 50px;
  margin: 0%;
  padding: 0%;
  flex-basis: 50px;
  background-color:#01080e;
  border: 0px solid #01080e;
  cursor: pointer;
}

div.App header.App-header button#MenuSide:active{
  flex-basis: 30px;
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 0px;
  /* background-color:#03111d; */
  /* border: 1px solid #041b2d; */
}

div.App header.App-header button#MenuSide:active svg{
  width: 20px;
  height: 20px;
}

div.App header.App-header button#MenuSide svg{
  width: 30px;
  height: 30px;
  margin: 0%;
}

div.App header.App-header div.Space{
  flex-basis: 50%;
}

div.App header.App-header figure{
  margin: 0%;
  padding: 0%;
  width: 80px;
  height: 30px;
  flex-basis: 200px;
}

div.App header.App-header figure img{
  width: 100%;
  height: 100%;
  margin: 0%;
}

div.App section#Entrace{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 350px;
  background-color: none;
}

div.App section#Introduce{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 500px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

div.App section#Introduce label{
  background-color: none;
  text-align: center;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 1000;
  font-size: 50px;
}

/* -------------------- About Me -------------------- */
div.App section#AboutMe{
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  width: 100%;
  height: 750px;
  grid-template-rows: 50px 50px 500px 100px 50px;
  grid-template-columns:  10% 30% 50% 10%;
  box-shadow: 2px 2px 5px black;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 750px;
  color: white;
  text-align: center;
  background: linear-gradient(#000, #072d4c);  
}

div.App section#AboutMe h2{
  grid-column: 2/4;
  grid-row: 2/3;
}

div.App section#AboutMe figure{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.App section#AboutMe figure img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

div.App section#AboutMe p{
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
  display: flex;
  align-self: center;
}

div.App section#AboutMe div#LinkedIn{
  grid-column: 2/4;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.App section#AboutMe div#LinkedIn svg{
  width: 50px;
  height: 50px;
}

div.App section#AboutMe div#LinkedIn a{
  color: whitesmoke;
  margin-left: 15px;
}
/* -------------------- About Me -------------------- */

/* -------------------- Experience -------------------- */
div.App section#Experience{
  box-shadow: 2px 2px 5px black;
  margin: 200px 0px 200px 0px;
  padding: 0%;
  width: 100%;
  height: 800px;
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: 10px 60px 80px 210px 50px 20px 80px 210px 50px 30px;
  grid-template-columns:  10% 80% 10%;
  background: linear-gradient(#000, #072d4c);  
}

div.App section#Experience h2{
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 2px 0px 2px 0px;
  align-self: center;
}

div.App section#Experience h4.Tandex{
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 2px 0px 2px 0px;
  align-self: center;
}

div.App section#Experience p.Tandex{
  grid-column: 2/3;
  grid-row: 4/5;
  margin: 2px 0px 2px 0px;
  align-self: center;
}

div.App section#Experience div.Tandex{
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.App section#Experience div.Tandex a{
  color: whitesmoke;
  margin-left: 10px;
}

div.App section#Experience h4.Charo{
  grid-column: 2/3;
  grid-row: 7/8;
  margin: 2px 0px 2px 0px;
  align-self: center;
}

div.App section#Experience p.Charo{
  grid-column: 2/3;
  grid-row: 8/9;
  margin: 2px 0px 2px 0px;
  align-self: center;
}

div.App section#Experience div.Charo{
  grid-column: 2/3;
  grid-row: 9/10;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.App section#Experience div.Charo a{
  color: whitesmoke;
  margin-left: 10px;
}
/* -------------------- Experience -------------------- */

/* -------------------- Education and Skills -------------------- */
div.App section#Education{
  box-shadow: 2px 2px 5px black;
  margin: 200px 0px 200px 0px;
  padding: 0%;
  width: 100%;
  height: 750px;
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: 50px 50px 600px 50px;
  grid-template-columns:  10% 50% 30% 10%;
  background: linear-gradient(#000, #072d4c);  
}

div.App section#Education h2{
  grid-column: 2/4;
  grid-row: 2/3;
  margin: 2px 0px 2px 0px;
  align-self: center;
  justify-self: center;
  text-align: center;
}

div.App section#Education div.School{
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.App section#Education div.School h4{
  margin: 2px 0px 2px 0px;
}

div.App section#Education div.School ul.School{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.App section#Education ul#Skills{
  grid-column: 3/4;
  grid-row: 3/4;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

div.App section#Education ul#Skills li{
  display: flex;
  
  margin-bottom: 5px;
}

div.App section#Education ul#Skills li svg{
  margin-right: 20px;
}
/* -------------------- Education and Skills -------------------- */




